

p{
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  color: grey;
}

li{
  text-align: center;
}

h1{
  text-align: center;
  display: block;
  background-color: red;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 4rem;
  font-family: "copperplate","arial";
}

h2{
  text-align: center;
  display: block;
  background-color: red;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 4rem;
  font-family: "copperplate","arial";
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.subtext {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
