h1{
  text-align: center;
  display: block;
  background-color: red;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
h2{
  text-align: center;
  display: block;
  background-color: red;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

body{
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.subtext {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
